name: Immortal Force Sync

permissions:
  contents: write

on:
  schedule:
    - cron: '0 0 * * *' 
  workflow_dispatch:    

jobs:
  force_sync_job:
    runs-on: ubuntu-latest
    name: Force Sync & Restore Script
    
    steps:
      - name: Checkout target repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Sync and Resurrect
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          
          cp .github/workflows/force_sync.yml /tmp/force_sync.yml


          git remote add upstream https://github.com/JiaJun-Q/HGLMA.git
          
          echo "Fetching upstream..."
          git fetch upstream || exit 0

          git checkout main || git checkout master
          git reset --hard upstream/main || git reset --hard upstream/master


          mkdir -p .github/workflows

          cp /tmp/force_sync.yml .github/workflows/force_sync.yml


          git add .github/workflows/force_sync.yml
          git commit -m "Keep auto-update script alive" || echo "No changes to script"


          git push origin main --force || git push origin master --force || echo "Push failed but ignored"
